<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WNS Test Suite" thread-count="2" verbose="5" parallel="classes">
    <listeners>
<!--            <listener class-name="java.listeners.ExecutionListner"/>-->
<!--        <listener class-name="java.listeners.TestListenerAdapter"/>-->
<!--        <listener class-name="java.listeners.TestListener"/>-->



    </listeners>
    <test preserve-order ="true"  name="MoneyCorp">
<!--       <groups>-->
<!--           <run>-->
<!--               <include name=""/>-->
<!--           </run>-->
<!--       </groups>-->
        <classes>
                <class name="MoneyCorpTest"/>
        </classes>
    </test>
</suite>